[FOLDER_SECTION]
email_file_location = C:/Users/sseth/Desktop/naruto-001/input_file
email_archive_location = C:/Users/sseth/Desktop/naruto-001/input_file/recyclebin



[EMAIL_CREDENTIAL]
user_id = naruto2023india@gmail.com
password = nnwtlhdskuqmzqzf

